<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shizuku.uninstaller">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:extractNativeLibs="true"
        android:icon="@string/icon"
        android:label="ShizukuRunner"
        android:theme="@android:style/Theme.DeviceDefault.Dialog">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:exported="true"
            android:supportsPictureInPicture="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".FloatingService"
            android:exported="false" />

        <!-- 供 Unity / 其他应用通过 Intent 调用执行命令 -->
        <service
            android:name=".CommandService"
            android:exported="true" />
        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>

</manifest>